In [47]:
import numpy as np
import matplotlib.pyplot as plt
import xarray as xr
import pandas as pd

In [48]:
#TODO: do unit conversion and matching, reference ERDAPP metadata sites

https://data.cioospacific.ca/erddap/info/index.html?page=1&itemsPerPage=1000

link above can navigate to the metadata for all these datasets

In [49]:
data = pd.read_csv('ElwhaPoly_01_BCLightstation_08032023_OG.csv')
list(data.columns)
needed = data[['latitude','longitude','time', 'TEMPTC01','PSALPR01']]
sea_surface = np.zeros(len(needed)) + 0.5
needed['depth'] = sea_surface
needed.to_csv('ElwhaPoly_01_BCLightstation_08032023.csv',index=False)

needed

/tmp/ipykernel_303533/1794638834.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  needed['depth'] = sea_surface

         latitude     longitude                  time TEMPTC01 PSALPR01  depth
0   degrees_north  degrees_east                   UTC     degC   PSS-78    0.5
1         48.9222     -125.5408  2019-11-23T00:00:00Z      9.7     28.8    0.5
2         48.9222     -125.5408  2019-11-24T00:00:00Z     10.0     30.5    0.5
3         48.9222     -125.5408  2019-11-25T00:00:00Z      9.7     30.6    0.5
4         48.9222     -125.5408  2019-11-26T00:00:00Z      9.2     29.4    0.5
..            ...           ...                   ...      ...      ...    ...
68        48.2979     -123.5316  2019-11-26T00:00:00Z      8.4     32.1    0.5
69        48.2979     -123.5316  2019-11-27T00:00:00Z      8.4     32.3    0.5
70        48.2979     -123.5316  2019-11-28T00:00:00Z      8.1     32.3    0.5
71        48.2979     -123.5316  2019-11-29T00:00:00Z      8.2     32.1    0.5
72        48.2979     -123.5316  2019-11-30T00:00:00Z      8.1     32.2    0.5

[73 rows x 6 columns]

In [59]:
#TODO: re-download some of this data, it's all NaN right now
data = pd.read_csv('ElwhaPoly_02_BCLightstation_08032023_OG.csv')
# list(data.columns)
# needed = data[['latitude','longitude','time', 'TEMPTC01','PSALPR01']]
# sea_surface = np.zeros(len(needed)) + 0.5
# needed['depth'] = sea_surface
# needed

In [60]:
data = pd.read_csv('ElwhaPoly_03_IOSRosetteBottle_08032023_OG.csv')
list(data.columns)
# needed = data[['latitude','longitude', 'depth', 'TEMPS901','TEMPS902', 'TEMPS601', 'TEMPS602', 'TEMPST01', 'TEMPRTN1', 'PSALST01', 'PSALST02', 'PSALBST01', 'SSALBST01', 'SSALST01']]
needed = data[['latitude','longitude', 'time', 'TEMPS901', 'PSALST01', 'depth']]
# needed = needed.drop(0)

needed.to_csv('ElwhaPoly_03_IOSRosetteBottle_08032023.csv',index=False)
needed

,latitude,longitude,time,TEMPS901,PSALST01,depth
0,degrees_north,degrees_east,UTC,degC,PSS-78,m
1,49.369167,-124.082,2023-02-26T04:23:31Z,6.8558,29.0733,2.3
2,49.403168,-124.14917,2023-02-26T05:37:06Z,7.1378,29.3778,2.5
3,49.403168,-124.14917,2023-02-26T05:37:06Z,7.0784,29.3521,5.6
4,49.403168,-124.14917,2023-02-26T05:37:06Z,8.9022,30.9274,277.6
...,...,...,...,...,...,...
201,49.655,-123.2405,2023-03-05T13:17:56Z,8.211,30.4044,74.7
202,49.655,-123.2405,2023-03-05T13:17:56Z,8.4953,30.4959,98.3
203,49.655,-123.2405,2023-03-05T13:17:56Z,8.8025,30.6416,220.1
204,49.655,-123.2405,2023-03-05T13:17:56Z,8.8026,30.6416,220.1
205,49.655,-123.2405,2023-03-05T13:17:56Z,8.8026,30.6416,220.1

In [61]:
data = pd.read_csv('HomathkoPoly_01_HakaiProfiles_08032023_OG.csv')
# print(list(data.columns))
needed = data[['latitude','longitude', 'time', 'temperature', 'salinity', 'depth']]

needed.to_csv('HomathkoPoly_01_HakaiProfiles_08032023.csv',index=False)
needed

/tmp/ipykernel_303533/2716686928.py:1: DtypeWarning: Columns (5,11,12,13,14,23,24,27,30,32,33,35,36,38,39,42,45,48,51,54,57,60,63) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('HomathkoPoly_01_HakaiProfiles_08032023_OG.csv')

,latitude,longitude,time,temperature,salinity,depth
0,degrees_north,degrees_east,UTC,degree_Celsius,PSU,m
1,51.9033000000001,-127.9467,2023-07-16T14:24:51Z,15.070262,21.612753516412813,1.130817664687504
2,51.9033000000001,-127.9467,2023-07-16T14:24:51Z,14.04393037037037,25.08093068483575,2.0292210560935673
3,51.9033000000001,-127.9467,2023-07-16T14:24:51Z,13.621706,25.932993396691774,2.999347076698774
4,51.9033000000001,-127.9467,2023-07-16T14:24:51Z,12.36742888888889,27.718686409965485,3.986942265891147
...,...,...,...,...,...,...
16397,50.33921,-125.117638,2023-07-20T21:34:42Z,8.579951,30.683173,474.383772
16398,50.33921,-125.117638,2023-07-20T21:34:42Z,8.583238,30.684366,475.357928
16399,50.33921,-125.117638,2023-07-20T21:34:42Z,8.582861,30.683962,476.372011
16400,50.33921,-125.117638,2023-07-20T21:34:42Z,8.579134,30.68342,477.141052
16401,50.33921,-125.117638,2023-07-20T21:34:42Z,8.579435,30.684014,478.337384

In [62]:
data = pd.read_csv('HomathkoPoly_03_IOSRosetteBottle_08032023_OG.csv')
# list(data.columns)

needed = data[['latitude','longitude', 'time', 'TEMPS901', 'PSALST01', 'depth']]
# needed = needed.drop(0)

needed.to_csv('HomathkoPoly_03_IOSRosetteBottle_08032023.csv',index=False)
needed

,latitude,longitude,time,TEMPS901,PSALST01,depth
0,degrees_north,degrees_east,UTC,degC,PSS-78,m
1,49.369167,-124.082,2023-02-26T04:23:31Z,6.8558,29.0733,2.3
2,49.403168,-124.14917,2023-02-26T05:37:06Z,7.1378,29.3778,2.5
3,49.403168,-124.14917,2023-02-26T05:37:06Z,7.0784,29.3521,5.6
4,49.403168,-124.14917,2023-02-26T05:37:06Z,8.9022,30.9274,277.6
...,...,...,...,...,...,...
201,49.655,-123.2405,2023-03-05T13:17:56Z,8.211,30.4044,74.7
202,49.655,-123.2405,2023-03-05T13:17:56Z,8.4953,30.4959,98.3
203,49.655,-123.2405,2023-03-05T13:17:56Z,8.8025,30.6416,220.1
204,49.655,-123.2405,2023-03-05T13:17:56Z,8.8026,30.6416,220.1
205,49.655,-123.2405,2023-03-05T13:17:56Z,8.8026,30.6416,220.1

In [63]:
data = pd.read_csv('HomathkoPoly_04_IOSCTDProfile_08032023_OG.csv')
list(data.columns)

needed = data[['latitude','longitude', 'time', 'TEMPS901', 'PSALST01', 'depth']]
# needed = needed.drop(0)

needed.to_csv('HomathkoPoly_04_IOSCTDProfile_08032023.csv',index=False)
needed

,latitude,longitude,time,TEMPS901,PSALST01,depth
0,degrees_north,degrees_east,UTC,degC,PSS-78,m
1,50.666534,-126.77157,2023-05-11T16:52:15Z,7.9476,31.0996,0.9
2,50.666534,-126.77157,2023-05-11T16:52:15Z,7.919,31.1139,1.9
3,50.666534,-126.77157,2023-05-11T16:52:15Z,7.9318,31.1368,2.9
4,50.666534,-126.77157,2023-05-11T16:52:15Z,7.9438,31.1449,3.9
...,...,...,...,...,...,...
1522,50.842247,-127.71657,2023-05-11T23:55:15Z,8.0146,31.9891,104.1
1523,50.842247,-127.71657,2023-05-11T23:55:15Z,7.997,32.0034,105.1
1524,50.842247,-127.71657,2023-05-11T23:55:15Z,7.9859,32.0057,106.1
1525,50.842247,-127.71657,2023-05-11T23:55:15Z,7.9824,32.0077,107.1
1526,50.842247,-127.71657,2023-05-11T23:55:15Z,7.9718,32.012,108.1

In [64]:
data = pd.read_csv('SquamishPoly_01_IOSRosetteBottle_08032023_OG.csv')
list(data.columns)

needed = data[['latitude','longitude', 'time', 'TEMPS901', 'PSALST01', 'depth']]
# needed = needed.drop(0)

needed.to_csv('SquamishPoly_01_IOSRosetteBottle_08032023.csv',index=False)
needed

,latitude,longitude,time,TEMPS901,PSALST01,depth
0,degrees_north,degrees_east,UTC,degC,PSS-78,m
1,49.369167,-124.082,2023-02-26T04:23:31Z,6.8558,29.0733,2.3
2,49.403168,-124.14917,2023-02-26T05:37:06Z,7.1378,29.3778,2.5
3,49.403168,-124.14917,2023-02-26T05:37:06Z,7.0784,29.3521,5.6
4,49.403168,-124.14917,2023-02-26T05:37:06Z,8.9022,30.9274,277.6
...,...,...,...,...,...,...
201,49.655,-123.2405,2023-03-05T13:17:56Z,8.211,30.4044,74.7
202,49.655,-123.2405,2023-03-05T13:17:56Z,8.4953,30.4959,98.3
203,49.655,-123.2405,2023-03-05T13:17:56Z,8.8025,30.6416,220.1
204,49.655,-123.2405,2023-03-05T13:17:56Z,8.8026,30.6416,220.1
205,49.655,-123.2405,2023-03-05T13:17:56Z,8.8026,30.6416,220.1

In [65]:
data = pd.read_csv('SquamishPoly_02_IOSCTSProfile_08032023_OG.csv')
list(data.columns)

needed = data[['latitude','longitude', 'time', 'TEMPS901', 'PSALST01', 'depth']]
# needed = needed.drop(0)

needed.to_csv('SquamishPoly_02_IOSCTSProfile_08032023.csv',index=False)
needed

,latitude,longitude,time,TEMPS901,PSALST01,depth
0,degrees_north,degrees_east,UTC,degC,PSS-78,m
1,50.666534,-126.77157,2023-05-11T16:52:15Z,7.9476,31.0996,0.9
2,50.666534,-126.77157,2023-05-11T16:52:15Z,7.919,31.1139,1.9
3,50.666534,-126.77157,2023-05-11T16:52:15Z,7.9318,31.1368,2.9
4,50.666534,-126.77157,2023-05-11T16:52:15Z,7.9438,31.1449,3.9
...,...,...,...,...,...,...
1522,50.842247,-127.71657,2023-05-11T23:55:15Z,8.0146,31.9891,104.1
1523,50.842247,-127.71657,2023-05-11T23:55:15Z,7.997,32.0034,105.1
1524,50.842247,-127.71657,2023-05-11T23:55:15Z,7.9859,32.0057,106.1
1525,50.842247,-127.71657,2023-05-11T23:55:15Z,7.9824,32.0077,107.1
1526,50.842247,-127.71657,2023-05-11T23:55:15Z,7.9718,32.012,108.1